{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white">Reviews</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>


         <div class="row">
            <div class="product-container col-10 offset-1">   
                <div class="row bg-light my-auto">       
                    <div class="col-12 col-md-3">
                        <a class="btn btn-light btn-outline-dark rounded mb-2" href="{% url 'add_review' %}">Add Your Own Review</a>
                    </div>

                    <form class="form-inline d-none d-sm-inline-block col-md-3" method="GET" action="{% url 'reviews_list' %}">
                        <input class="form-control border-black rounded-0" type="text" name="q" id="review" placeholder="Search product review...">
                        <div class="input-group-append" id="input-group-append-search">
                            <button class="form-control btn border border-black rounded-0" style="background-color: #FF0000;" type="submit">
                                <span class="icon" style="color: #fff">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>

                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-white mt-3 text-center text-md-left">
                            {% if search_term != 'None_None' %}
                                <span class="small"><a href="{% url 'reviews_list' %}">Reviews Home</a> | </span>
                            {% endif %}
                            {{ reviews|length }} Reviews{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>

                    <div class="row">
                    {% for review in reviews %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100" style="border-style: groove; border-width: thick;">
                                <div class="card-footer bg-white pt-0 border-0 text-left" id="book-table">
                                    <div class="row">
                                        <div class="col">
                                            {% if review.product %}
                                                <h5 class="my-2">{{ review.product.name }}</h5>
                                            {% endif %}
                                            {% if review.review %}
                                                <p class="my-2">{{ review.review }}</p>
                                            {% endif %}
                                            {% if review.rating == 1 %}
                                                <small class="text-muted"><i class="fas fa-star mr-1" style="color: #FFD700"></i>{{ review.rating }} / 5</small>
                                            {% elif review.rating == 2 %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    {{ review.rating }} / 5
                                                </small>
                                            {% elif review.rating == 3 %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    {{ review.rating }} / 5
                                                </small>
                                            {% elif review.rating == 4 %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    {{ review.rating }} / 5
                                                </small>
                                            {% elif review.rating == 5 %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    <i class="fas fa-star mr-1" style="color: #FFD700"></i>
                                                    {{ review.rating }} / 5
                                                </small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            
                                            {% if review.user %}
                                               <p><small class="mx-auto"><strong>Reviewed By:</strong> {{ review.user }}</small></p>
                                            {% else %}
                                                <p>No User</p>
                                            {% endif %}
                                               <p><small class="mx-auto"><strong>Date Created:</strong> {{ review.date }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="btt-button shadow-sm rounded border border-black">
        <a class="btt-link d-flex h-100" style="background-color: #fff;">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
   
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
			window.scrollTo(0,0)
        })
	</script>
{% endblock %}