<div class="collapse navbar-collapse" id="main-nav" style="z-index: 1;">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown mx-1 my-1">
            <button class="btn btn-danger dropdown-toggle" type="button" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             	All Products
             </button>

            <div class="dropdown-menu border border-danger" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-1 my-1">
            <button class="btn btn-secondary dropdown-toggle drop-menu" type="button" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             	Clothing
             </button>

            <div class="dropdown-menu border border-danger" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Tops &amp; Shirts</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=sports_bottoms" class="dropdown-item">Sports Bottoms</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=sports_shoes" class="dropdown-item">Sports Shoes</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=shirts,sports_bottoms,sports_shoes" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-1 my-1">
            <button class="btn btn-danger dropdown-toggle drop-menu" type="button" id="gym-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             	Gym &amp; Fitness
             </button>
            
            <div class="dropdown-menu border border-danger" aria-labelledby="gym-link">
                <a href="{% url 'products' %}?category=dumbells" class="dropdown-item">Dumbells</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=barbells" class="dropdown-item">Barbells</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=machines" class="dropdown-item">Machines</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=conditioning" class="dropdown-item">Conditioning</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-1 my-1">
            <button class="btn btn-secondary dropdown-toggle drop-menu" type="button" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             	Special Offers
             </button>

            <div class="dropdown-menu border border-danger" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <hr class="dropdown-divider">
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>