    <li class="list-inline-item mobile-link1">
    <a class="text-white d-block d-lg-none p-1 btn-outline font-weight-bold bg-black nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
                    <input class="form-control border-black rounded-0 offset-2" style="width: 50%;" type="text" name="q" id="product1" placeholder="Search products...">
                    <div class="input-group-append">
                        <button class="form-control btn border border-black rounded-0" style="background-color: #FF0000;" type="submit">
                            <span class="icon" style="color: #fff">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
        </div>
    </li>
            <li class="list-inline-item dropdown mobile-link">
                    <a class="text-white d-block d-lg-none p-1 btn-outline bg-black font-weight-bold nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border border-danger" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                    </div>
            </li>
<script>
                $(function () {
                    $("#product1").autocomplete({
                        source: "{% url 'auto' %}",
                        minLength: 2
                    });
                });
            </script>
            <li class="list-inline-item">
                <a class="text-white d-block d-lg-none p-1 btn-outline bg-black font-weight-bold nav-link" href="{% url 'view_bag' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                £{{ grand_total|floatformat:2 }}
                                            {% else %}
                                                £0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
            </li>