{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <form>
        <label for="product">Product</label>
        <input type="text" name="product" id="product">
    </form>

    <script>
        $(function () {
            $("#product").autocomplete({
                source: "{% url 'autocomplete' %}",
                minLength: 2
            });
        });
    </script>


    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Fitness Text
                </h1>

                <p style="font-weight: 700;">
                    Hello, I am Text!
                </p>

                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>

            </div>
        </div>

    </div>

{% endblock %}