<!-- keep shopping button -->

<a href="{% url 'products' %}" class="btn btn-light btn-outline-dark rounded btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>

<!-- secure checkout button -->

<a type="button" href="{% url 'checkout' %}" class="btn btn-dark btn-outline-light rounded btn-lg">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-credit-card"></i>
    </span>
</a>