{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'books/js/books.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
        <h1 class="page-header">Books</h1>
        <p>
            <button type="button" class="btn btn-primary js-create-book">
            <span class="glyphicon glyphicon-plus"></span>
                New book
            </button>
        </p>
    <table class="table table-bordered table-light">
  <thead>
    <tr>
      <th>Username</th>
      <th>First name</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.price }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if books.has_other_pages %}
  <ul class="pagination">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

    <p>Click me!</p>

    

    <!-- THE MODAL WE WILL BE USING -->

    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
        <div class="modal-content">
        </div>
        </div>
    </div>
        
    </div>
    
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $(function () {

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-book").modal("show");
            },
            success: function (data) {
                $("#modal-book .modal-content").html(data.html_form);
            }
            });
        };


        $("#book-table").on("click", ".js-delete-book", loadForm);
        $("#modal-book").on("submit", ".js-book-delete-form", saveForm);

        });
    </script>
{% endblock %}